<html>
  <head>
      <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
         <header>
     <div class="flex-container">
     <div style="flex-basis: 65px"><a href="/"><img src="/Makers_logo.jpeg"></a></div>
     <div> <h4>Makers bnb</h4></div>
     <div style="align-self: center"><a href="/user/login">TEXT</a></div>
     <div><a href="/user">TEXT</a></div>
     </div>
  </header>
    <h1>Here is a list of pending approvals</h1>
      <div>
        <ul>
        <form method="post" action="/bookings/approve">
        <% @bookings.each do |booking| %>
        <li>
        <%= booking.property_name %> on <%= Date.parse(booking.date).strftime('%e %b %Y') %>  <button name="booking_id" value="<%= booking.id %>">Approve</button>
        </li>
        <% end %>
        </form>
        </ul>
        
      </div> 
  </body>
</html>
