<html>
  <head>
      <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="property-card">
      <h1>Booking request sent</h1>
      <div>
        <a href="/properties" class="btn">Go to Properties</a>
      </div>
    </div>
  </body>
</html>
