<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-image: url(https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg);
        background-size: cover;
        background-position: center;
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .property-card {
        background-color: #ffffff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 200px;
        height: 150px;
      }
    </style>
  </head>
  <body>
    <div class="property-card">
      <h1>Booking request sent</h1>
      <div>
        <a href="/properties" class="btn">Go to Properties</a>
      </div>
    </div>
  </body>
</html>
