<html>
  <head>
      <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
         <header>
     <div class="flex-container">
     <div style="flex-basis: 65px"><a href="/"><img src="/Makers_logo.jpeg"></a></div>
     <div> <h4>Makers bnb</h4></div>
     <div style="align-self: center"><a href="/properties/new">List a property</a></div>
     <div><a href="/properties">Places to stay</a></div>
     </div>
  </header>
    <div class="property-card">
      <h1>Booking request sent</h1>
      <div>
        <a href="/properties" class="btn">Go to Properties</a>
      </div>
    </div>
  </body>
</html>
