<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css" />
</head>

    <body>
           <header>
     <div class="flex-container">
     <div style="flex-basis: 65px"><a href="/"><img src="/Makers_logo.jpeg"></a></div>
     <div> <h4>Makers bnb</h4></div>
     <div style="align-self: center"><a href="/user/login">TEXT</a></div>
     <div><a href="/user">TEXT</a></div>
     </div>
  </header>
    
    ERROR!</body>
</html>

<!-- Test commit>
