
  <h1>Login Failed</h1>
  <p>Your login attempt was not successful. Please check your credentials and try again.</p>
  
  <form action="/user/fail_login" method="POST">
  <body><a href="/login">Click here to login again</a></body>
  </form>
</body>
</html> %>
