<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="/style.css" />

  </head>
  <body>
       <header>
     <div class="flex-container">
     <div style="flex-basis: 65px"><a href="/"><img src="/Makers_logo.jpeg"></a></div>
     <div> <h4>Makers bnb</h4></div>
     <div style="align-self: center"><a href="/user/login">Login</a></div>
     <div><a href="/user">register</a></div>
     </div>
  </header>

<section class="hero">
    <h2>MAKERS BNB</h2>
</section>

</section>
  <section>
    <h2>Welcome to your dream getaway!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida lacus non turpis finibus lacinia.</p>
  </section>
  
    <!-- Other content for the homepage -->
    <!-- ... -->
    <footer>
    <p>&copy; 2023 Website. All rights reserved. Sean, Osman, Heather, Shoaib & Abnor</p>
  </footer>
  </body>
</html>
<!-- Test commit>