<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB<img src="public/makersbnb-logo.png" style="width:128px;height:128px;"></title>

    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="/style.css" />
    <img src="/makersbnb-logo.jpeg" style="width:128px;height:128px;">

  </head>
  <body>
       <header>
     <div class="flex-container">
     <div style="flex-basis: 65px"><a href="/"><img src="/Makers_logo.jpeg"></a></div>
     <div> <h4>Makers bnb</h4></div>
     <div style="align-self: center"><a href="/user/login">Login</a></div>
     <div><a href="/user">Register</a></div>
     </div>
  </header>


    <div class="jumbotron">
    <a href="index.html" style="display: inline-block; padding: 10px 20px; background-color: #f2f2f2; color: #333; text-decoration: none; border: 1px solid #ccc; border-radius: 5px;">Home</a>
     <a href="/user/login" style="display: inline-block; padding: 10px 20px; background-color: #f2f2f2; color: #333; text-decoration: none; border: 1px solid #ccc; border-radius: 5px;">Login</a>
      <h1>Welcome to MakersBnB!</h1>
      <p>Let #TeamHibiscus help you find unique places to stay and experience amazing destinations.</p>
      <a href="/user" class="btn">New user? Register here!</a>
    </div>
    <!-- Other content for the homepage -->
    <!-- ... -->
  </body>
</html>
<!-- Test commit>