<!DOCTYPE html>
<html>
<head>
  <style>
    /* CSS Styles */
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
    }
    
    h1 {
      color: #333333;
    }
    
    h2 {
      color: #666666;
    }
    
    .property-card {
      background-color: #ffffff;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 200px;
      height: 150px;
    }
    
    .property-name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .property-description {
      margin-bottom: 10px;
    }
    
    .property-location {
      margin-bottom: 10px;
    }
    
    .property-price {
      font-weight: bold;
      color: #009900;
      margin-bottom: 10px;
    }
    
    .view-button {
      display: square;
      background-color: #f44336;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }
    
    .view-button:hover {
      background-color: #df362c;
    }
  </style>
  <title>Login Form</title>
</head>
<body>
  <h1>Welcome to MakersBnB!</h1>
  <h2>Login</h2>
  <div class="form-container">
    <form action="/user/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <input type="submit" value="Login">
    </form>
    <% if @error_message %>
      <p><%= @error_message %></p>
    <% end %>
  </div>
</body>
</html>
