<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
         <header>
     <div class="flex-container">
     <div style="flex-basis: 65px"><a href="/"><img src="/Makers_logo.jpeg"></a></div>
     <div> <h4>Makers bnb</h4></div>
     <div style="align-self: center">   </div>
     <div><a href="/properties">List a property</a></div>
     </div>
  </header>
    <h1>List a property</h1>
    <div>
      <form action="/properties" method="POST">
        <div>
          <label>Property name</label>
          <input type="text" name="property_name">
        </div>

        <div>
          <label>Property description</label>
          <textarea name="description" rows="8" cols="48" placeholder="Property description"></textarea>
        </div>

        <div>
          <label>Location</label>
          <input type="text" name="location">
        </div>
        
        <div>
          <label>Image URL</label>
          <input type="text" name="image_url">
        </div>

        <div>
          <label>Price</label>
          <input type="text" name="price">
        </div>

        <div>
          <label>User ID</label>
          <input type="text" name="user_id">
        </div>

        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>

