<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-image: url(https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg);
        background-size: cover;
        background-position: center;
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      </style>
  </head>
  <body>
    <h1>Property added</h1>
    <h3><a href="/properties">To view all properties, click here</a><h3>
  </body>
</html>
