<html>
  <head>
  </head>
  <body>
    <h1>Here is a property you can book</h1>
      <div>
        Property: <%= @property.property_name%>
        Description: <%= @property.description %>
        location: <%= @property.location %>
        price: <%= @property.price %>
      </div> 
  </body>
</html>
