<!-- register.erb -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css" />
<title>Registration Form</title>
</head>
<body>
<h1>Welcome to MakersBnB!</h1>
  <h2>Register a new user</h2>
  <div class="form-container">
  <form action="/user" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="phone_num">Phone Number:</label>
    <input type="phone_num" id="phone_number" name="phone_number" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <input type="submit" value="Register">
  </form>
  </div>
</body>
</html>
<!-- Test commit>