<!DOCTYPE html>
<html>
<head>
  <title>Registration Success</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
       <header>
     <div class="flex-container">
     <div style="flex-basis: 65px"><a href="/"><img src="/Makers_logo.jpeg"></a></div>
     <div> <h4>Makers bnb</h4></div>
     <div style="align-self: center"><a href="/properties/new">List a property</a></div>
     <div><a href="/properties">Places to stay</a></div>
     </div>
  </header>
  <div class="container">
    <h1>Successfully Registered!</h1>
    <p>Congratulations, you have successfully registered.</p>
    <p>Current weather for London:</p>
    <% require 'net/http' %>
    <% require 'json' %>
    <% uri = URI('https://api.openweathermap.org/data/2.5/weather?q=London&appid=96f90464486a2b0a8de3da89b57b8df4') %>
    <% response = Net::HTTP.get(uri) %>
    <% weather_data = JSON.parse(response) %>
    <% temperature = weather_data['main']['temp'] - 273.15 %>
    <% weather_description = weather_data['weather'][0]['description'] %>
    <p>Temperature: <%= temperature.round(2) %>°C</p>
    <p>Weather Description: <%= weather_description.capitalize %></p>
    <p>Click the button below to view properties.</p>
    <form action="/properties" method="GET">
      <button type="submit">View Properties</button>
    </form>
  </div>
</body>
</html>

